# Должно быть <branch>_<project>
APP_NAME=

# Должно быть <branch>.<project>.<url>
# Пока url=dev.biche-ool.ru
VIRTUAL_HOST=

# Должно быть <branch>_<project>_postgres
POSTGRES_HOST=
# Порт по которому база будет доступна на хосте
POSTGRES_PORT=
POSTGRES_PASSWORD=cicd
POSTGRES_USER=cicd
DB_NAME=cicd

NGINX_PORT=

XDEBUG_REMOTE_HOST=
#true or false
DEBUG=false
#see \Yii\BaseYii.php
ENV=dev

# Для $config['modules']['debug']['allowedIPs']
LOCAL_IP=172.*.*.*
# ⬇️ ⚠️ Не менять ⚠️ ⬇️
NETWORK=container_network